<!DOCTYPE html>
<html lang="en">
<head>
   <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/hackathon.css') }}"> -->
  <link rel="stylesheet" href="hackathon.css">
</head>
<body class = 'haha2'>



<ul class="nav">

  <li><a href="contact.html">Contact</a></li>
  <li><a href="about.html">About</a></li>
  <li class="logo"><a  href="hackathonstuff.html">Insta-Diagnose</a></li>
</ul>

<div class="attempt3" style="padding: 10px;">





<div class="tabled">
<h3 class="center">About Us</h3>
<p>We are a group of three students, who have come together to make a website for the PoweringSTEMhacks hackathon. </p>
<ul>
  <li>Frontend: Ronen Maji</li> <br>
  <li>Backend: Riddish</li><br>
  <li>Prototype & buisness slide: Eshaan</li><br>
</ul>
  <p>
  This website can accuratley diagnose most symptoms, with each symptom being listed along with your age
, sex, and symptoms. The symptoms list is not that big at the moment containing slightly less than 100 symptoms, but in the future we can add more.
</p>

</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1gcf3qIsSEfbF0n1IPAHGz26hQCT2XTE&libraries=places&callback=initialize" async defer></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</div>
</body>
</html>
