<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hackathon.css') }}">
</head>
<body class = 'haha2'>



<ul class="nav">

  <li><a href="contact.html">Contact</a></li>
  <li><a href="about.html">About</a></li>
  <li class="logo"><a  href="hackathonstuff.html">Insta-Diagnose</a></li>
</ul>

<div class="attempt3" style="padding: 10px;">





<div class="tabled">
<h3 class="center">Contact Us</h3>
<p>Please do keep in mind that we are students, and will not be able to always answer your contact attempts.<br></p>
<h3 class="center">Phone Numbers</h3>
  <p class="center">
Contact our design team at: 510-532-8932<br>
Contact our backend team at: 510-342-2342<br>
Contact our Prototype team at: 510-424-3242<br>
Contact our Marketing team at: 520-322-2342<br>
</p><br>
<h3 class="center">E-Mails</h3>
  <p class="center">
Design Email: instadiagnosedesign@gmail.com<br>
Backend Email: instadiagnoseback@gmail.com<br>
Prototype Email: instadiagnoseproto@gmail.com<br>
Marketing Email: instadiagnosemarket@gmail.com<br>
</p>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1gcf3qIsSEfbF0n1IPAHGz26hQCT2XTE&libraries=places&callback=initialize" async defer></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</div>
</body>
</html>
