<html>
<head>    <link rel="stylesheet" href="hackathon.css">

</head>

<body>
  <div class="popup1">
         <button id="close">&times;</button>
         <h2>Insta-Diagnose</h2>
         <p>
             Insta Diagnose is a health app built to help you get your diagnosis as fast and as easy as possible!<br>
         </p>
         <a href="/">Let's Go</a>
     </div>
<div class="haha2">



<ul class="nav">

  <li><a href="/contact">Contact</a></li>
  <li><a href="/about">About</a></li>
  <li class="logo"><a  href="/">Insta-Diagnose</a></li>
</ul>

<p class = 'center'>Enter Your Symptoms to be Diagnosed</p>

<div class="attempt2">
<div>

</div>
<div class="table">

<div class="floatside">


<table><tr><td>
  <h1 class="center"> Mandatory Info</h1>
  <div class = 'center'><form action='/' id='home' method='post'>
  <p>Sex Assigned at Birth</p>
  <div><input type='text' class='formele' name='gender' placeholder='Gender' required></div>
  <p>Year Of Birth</p>
  <div><input type='text' class='formele' name='age' placeholder='Year Of Birth' required></div>
  <p>Symptom Number</p>
  <div><input type='text' class='formele' name='symptomnumber' placeholder='Symptom Number' required></div>
  <div><input type='submit' class = 'sub' value='diagnosis'></div>
  </form><div>


</td></tr></table>
</div>
</div>
<div id="symptoms" class="floatside">
  <p>Abdominal Pain #10<br>
        Anxiety #238<br>
        Back Pain #104<br>
        Burning Eyes #7s5<br>
        Burning the throat #46<br>
        Cheek Swelling #170<br>
        Chest Pain #17<br>
        Chest Tightness #31<br>
        Chills #175<br>
        Cold Sweats #139<br>
        Cough #15<br>
        Dizziness #207<br>
        Drooping Eyelid #244<br>
        Dry Eyes #273<br>
        Eareache #87<br>
        Early satiety #92<br>
        Eye Pain #287<br>
        Eye redness #33<br>
        Fast deepend breathing #153<br>
        Feeling of foreign body in the eye #76<br>
        Fever #11<br>
        Headache #9<br>
        Heartburn #45<br>
        Hiccups #122<br>
        Hot flushes #149<br>
        Increased thurst #40<br>
        Itching Eyes #73<br>
        Itching in the nose #96<br>
        Lip Swelling #35<br>
        Memory gap #235<br>
        Nasuea #44<br>
        Neck Pain #136<br>
        Nervesnouss #114<br>
        Night Cough #133<br>
        Pain in the limbs #12<br>
        Pain on swallowing #203<br>
        Palpitations #37<br>
        Paralysis #140<br>
        Reduced appetite #54<br>
        Runny Nose #14<br>
        Shortness of breaths #29<br>
        Skin Rash #124<br>
        Sleeplessness #52<br>
        Sneezing #95<br>
        Store Throat #13<br>
        Sputum #64<br>
        Stomach Burning #179<br>
        Stuffy Nose #28<br>
        Sweating #138<br>
        Swollen glands in the armpit #248<br>
        Swollen glands on the neck #169<br>
        Tears #211<br>
        Tiredness #16<br>
        Tremor at rest #115<br>
        Unconciousness ,short #144<br>
</p>
</div>
</div>
</div>
</div>
</div>
</body>
<script type="text/javascript">
// window.addEventListener("load", function(){
//    setTimeout(
//        function open(event){
//            document.querySelector(".popup").style.display = "block";
//            document.getElementById("body").classList.add(".blur");
//        },
//        2000
//    )
// });
// document.querySelector("#close").addEventListener("click", function(){
//    document.querySelector(".popup").style.display = "none";
//    document.getElementById("#haha").classList.remove(".blur");
// });
   </script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
 <script>
 $(document).ready(function(){
   $(".popup1").css("display", "block");
   $('.haha2').attr('id', 'blur');
   $("#close").click(function(){
     $(".popup1").css("display", "");
     $(".popup1").css("display", "none");
     $('.haha2').attr('id', '');

   });
 });
 </script>
</html>
